{% extends "base.html" %}
{% block style %}
<script src="../static/js/sponsor.js" defer></script>
<link rel="stylesheet" href="../static/css/sponsor.css">


{% endblock %}
{% block content %}

<section class="container" id="contact-form">
    <h2 class="h-sponsor">Become a Sponsor</h2>
    <p>Fill out the form below to express your interest in sponsoring PyCon Togo 2025. Our team will contact you
        with more details.</p>

    <form id="sponsor-form" action="/sponsor" method="post">
        <div class="form-row">
            <div class="form-col">
                <div class="form-group">
                    <label for="company-name" class="required-field">Company/Organization Name</label>
                    <input type="text" id="company-name" name="company" required>
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <label for="website">Website</label>
                    <input type="url" id="website" name="website">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-col">
                <div class="form-group">
                    <label for="contact-name" class="required-field">Contact Person</label>
                    <input type="text" id="contact-name" name="contact" required>
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <label for="contact-title">Job Title</label>
                    <input type="text" id="contact-title" name="title">
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-col">
                <div class="form-group">
                    <label for="contact-email" class="required-field">Email</label>
                    <input type="email" id="contact-email" name="email" required>
                </div>
            </div>
            <div class="form-col">
                <div class="form-group">
                    <label for="contact-phone" class="required-field">Phone</label>
                    <input type="tel" id="contact-phone" name="phone" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="sponsorship-level" class="required-field">Sponsorship Level of Interest</label>
            <select id="sponsorship-level" name="level" required>


                <option value="">Select a sponsorship level</option>
                {% for sponsor_tier in sponsor_tiers %}
                {% if sponsor_tier['title'] != "inkind" %}
                {% if sponsor_tier["availability"] > 10 %}
                <option value="{{sponsor_tier['title']}}">{{ sponsor_tier['name'] }} ({{ sponsor_tier['amount_cfa'] }}
                    XOF (~${{ sponsor_tier['amount_usd'] }})) - Unlimited</option>
                {% else %}
                <option value="{{sponsor_tier['title']}}">{{ sponsor_tier['name'] }} ({{ sponsor_tier['amount_cfa'] }}
                    XOF (~${{ sponsor_tier['amount_usd'] }})) - {{ sponsor_tier['available'] }} Available</option>
                {% endif %}
                {% endif %}
                {% endfor %}

                <option value="inkind">In-Kind Sponsorship</option>
                <option value="custom">Custom Sponsorship</option>
            </select>
        </div>
     

        <div class="form-group" id="inkind-option" style="display: none;">
            <label for="inkind-details" class="required-field">In-Kind Sponsorship Details</label>
            <textarea id="inkind-details" name="inkind-details"
                placeholder="Please describe what goods or services you would like to contribute (venue, equipment, refreshments, etc.)"></textarea>
        </div>

        <div class="form-group">
            <label for="message">Additional Information</label>
            <textarea id="message" name="message"
                placeholder="Please share any specific requests, questions, or additional information about your sponsorship interest."></textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn">Submit Sponsorship Inquiry</button>
        </div>
    </form>


</section>

{% endblock %}